// COLORES
$color-primary:#ffff00;
$color-secondary:rgba(0,0,37,1);
// TIPOGRAFIA
$primary-font: 'GTSectraFine';
$primary-font--bold: 'GTSectraFineBold';
// breakpoints

$m: 640px;
$l: 1024px;
$xl: 1440px;  
